#corpo {
    width: 50%;
    background-color: rgb(22, 22, 22);
    height: 300vh;
}
body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#barra-de-pesquisa {
    width: 250px;
    height: 20px;
}
#botao-de-pesquisa {
    height: 26px;
}
#logo {
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}
header>div {
    margin: 0 15px 0 15px;
}
#casa-icon {
    height: 25px;
    width: 25px;
}
#barra-de-navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    list-style: none;
}
#bem-vindo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0 30px 0;
}
#carrocel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#bella-e-edward {
    height: 300px;
}
section {
    margin: 65px 30px 0 30px;
}
#indice {
    list-style: none;
}
#indice-titulo {
    margin-left: 23px;
}